body {
  font-family: "Montserrat", sans-serif;
  color: rgb(65, 65, 65);
  background-color: rgb(221, 219, 219);
}
.wrapper {
  line-height: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
